@model Guid

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Petition Result</title>
    <style>
        label {
            padding: 50px 0 0 100px;
            font-size: 26px;
        }
    </style>
</head>
<body>
    <div>
        <label id="lblGuid">@Model</label> 
    </div>
</body>
</html>
